.cont
{
    display: flex;
    
}

.left
{
    height: 100vh;
    width: 50%;
    background-color: #51cacc;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
}

.cardd
{
    height: 300px;
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px ;
    align-items: center;
    flex-direction: column;
    color: blue;
    
    
}

.right
{
    height: 100vh;
    width: 50%;
    background-color: #ffeabf;
    padding: 20px;
}

.right table
{
    width: 500px;
    
}

.right table th, td
{
    border: 1px solid black;
}
.item-table thead, td{
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #ddd ;
}

.item-table tr:hover{
    background-color: blue;
}
.item-add{
    font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.item-add:hover{
    color: #ddd;
    background-color: blue;
}


