 .contain{
    background-color: white;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card-container{
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    border-color: grey;
    margin-bottom: 20px;
    position: relative;
}
.occupied-card-container{
    background-color: #dc3545!important;
}
.unoccupied-card-container{
    background-color: #17a2b8!important;
}



.add-item-btn{
    height: 40px;
    width: 80px;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 10px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.item-btn {
    height: 10px;
    width: 10px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    
}

.add-item-btn:hover{
    background-color: rgb(79, 103, 238);
    color: white;
}


.contain-occupied{
    background-color: white;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    }


.vacant-icon{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.occupied-icon{
    display: flex;
    justify-content: space-between;
}

.vacc {
    background-color: #17a2b8;
}

.card-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
 .bill-status{
    
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    gap: 10px;color: #fff;
    
 }



 .add-occupy-btn {
    height: 40px;
    width: 170px;
    font-size: 15px;
    font-weight: 600;
    /* padding: 15px 30px; */
    color: #000;
    background-color: #fff;
    /* border-radius: 4px; */
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
 }

 .add-occupy-btn:hover{
    background-color: rgb(79, 103, 238);
    color:#fff;
 }

 .table{
    font-size: 18px;
    font-weight: 600;
    color: #fff;

 }
.card-contains{
    margin:10px 20px;
}
