 .contain{
    background-color: white;
    margin-left: 60px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-container{
     background-color: #17a2b8!important;
 
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 20px;
    position: relative;
}
.add-item-btn{
    color: blue;
    background-color: white;
}

.item-btn {
    height: 40px;
    width: 90px;
    border: none;
    color: blue;
    background-color: white;
    
}

.item-btn:hover{
    background-color: blue;
    color: white;
}

.banner {
    background-image: url(../b14.png);
}

.occupied-card-container{
    background-color: #dc3545!important;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}


.contain-occupied{
    background-color: white;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    }

.Earning{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vacant-icon{
    display: flex;
    justify-content: space-between;
}

.occupied-icon{
    display: flex;
    justify-content: space-between;
}

.vacc {
    background-color: #17a2b8;
}

