/* @import url('https://fonts.googleeapis.com/css2?family=Lato&display=swap'); */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%,#ebf6ff); 
}
.App{
  text-align: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%,#ebf6ff); 
}

